---
---
<html lang="en"><head profile="http://www.w3.org/1999/xhtml/vocab">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
<meta name="description" content="The Institute for Biblical Content is an international consortium of specialists in ancient and modern linguistics, religious studies, archeology and textual criticism. It functions as a Bible society and adheres to Open Access principles." id="meta-description">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Institute for Biblical Content</title>
  <link rel="shortcut icon" type="image/ico" href="assets-landing/img/favicons/favicon.ico">
  <link href="assets-landing/fonts/Source-Sans-Pro/css/fonts.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="assets-landing/fonts/font-awesome-4.5.0/css/font-awesome.css">
  <link rel="stylesheet" href="assets-landing/css/c3d3.css">
<style type="text/css" media="all">
@import url("assets-landing/itdb.css");
</style>
    <script type="text/javascript" src="/assets-landing/js/jquery.min.js"></script>

</head>

<body class="html front not-logged-in no-sidebars page-node default-interior default-interior default-interior">
    {% include header.html %}

    <main role="main" id="main-content">

        <div class="container-fluid container-fluid sec-variant-midblue level-3 main-bg">
            <div class="container">
                                  <div class="region region-header">
    <div id="block-nodeblock-top-title" class="block block-nodeblock row  top-margin-10">
  <div class="content">
        
<div id="node-11" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Top Title" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>
	<div class="col-sm-12 text-center">
		<h1 class="w300">Institute <em class="w200">for</em> Biblical&nbsp;Content</h1>

		<div class="row top-margin-10">
			<div class="col-sm-12 text-left">
				<div class="tuck-5">
					<div class="row">
						<div class="col-sm-10 ">
							<p class="w200 lead marbottom-0">A Bible society adhering to Open Access principles, a consortium of specialists in linguistics, religious studies, archeology and textual criticism.</p>
						</div>

						<div class="col-sm-2 text-center dash-left dash-right"><i class="h3 icon-glasses"></i><br><a aria-controls="home-read-more" class="read-more" data-parent="#home-middle-accordion" href="#assets" role="button">IBC.OARC.science</a></div>
					</div>
				</div>
				<!--close row --></div>
		</div>
		<!-- close-col-sm-12 --></div>
	<!-- close row --></div>
<!-- close col-sm-12 text-left --><!-- close row --></div></div></div>  </div>

  
  
</div>
  </div>
</div>

<div id="block-nodeblock-top-buttons" class="block block-nodeblock">
  <div class="content">
        <div id="node-23" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Top Button Area" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded">
</div></div></div>  </div>

  
  
</div>
  </div>
</div>

  </div>
            </div><!-- end container -->
        </div><!-- close container-fluid -->


        <div class="container-fluid sec-variant-midblue level-4 main-bg">
            <div class="container">
                <div class="row top-gutter-20">
                    <div class="col-sm-12 tuck-7 text-left">
                          <div class="region region-shoulder">
    <div id="block-nodeblock-learn" class="block block-nodeblock row top-gutter-60">
  <div class="content">
        
<div id="actions" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Learn" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>
	<div class="col-sm-12 text-center"><h2 class="w200">Expert resources on Biblical Studies</h2></div>

<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span class="w400">1. General Biblical Studies</span></p>

		</div></div>


		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Auckland Theology, Biblical Studies, et al**](http://aucklandtheology.wordpress.com/) by Caroline Blyth, et al  
[**Biblical Studies Online**](https://biblicalstudiesonline.wordpress.com/) by Deane Galbraith and James Crossley  
[**Biblical Studies Blog**](http://biblicalstudies.org.uk/blog/) by Rob Bradshaw  
[**Biblical Studies journal alerts**](http://biblicalstudiesjournals.blogspot.com/) by Danny Zacharias  
[**Ιστολόγιο βιβλικών σπουδών / Biblical Studies Blog**](http://biblicalstudiesblog.blogspot.com/) by Ekaterini G. Tsalampouni{% endcapture %}{{mdsource|markdownify}}
		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**The Naked Bible Podcast**](http://www.nakedbiblepodcast.com/) by Michael Heiser  
[**Observatório Bíblico**](http://www.airtonjo.com/blog) by Airton José da Silva  
[**Vridar**](https://vridar.org/) by Neil Godfrey  
[**Women Biblical Scholars**](https://womenbiblicalscholars.wordpress.com/) by Women Biblical Scholars  
[**Zwinglius Redivivus**](http://zwingliusredivivus.wordpress.com/) by Jim West{% endcapture %}{{mdsource|markdownify}}
		</div></div>



	</div></div>



<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span class="w400">2. Hebrew Bible. Early Judaism</span><br><span style="font-size:smaller;">2a. General Hebrew Bible</span></p>

		</div></div>


		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**5 Minute Bible**](http://5minutebible.com/) by Tim Bulkeley  
[**Aantekeningen bij de Bijbel **](http://www.bijbelaantekeningen.nl/blog/) by J. P. van de Giessen  
[**Ancient Jew Review**](http://www.ancientjewreview.com/) by Krista Dalton et al  
[**Aндрей Орлов’s Journal**](http://aorlov.livejournal.com/) by Andrei Orlov  
[**Auslegungsache**](http://auslegungssache.at/) by Oliver Achilles  
[**Biblische Ausbildung**](http://www.biblische.blogspot.com/) by Stephen L. Cook  
[**Dr. Claude Mariottini**](http://claudemariottini.com/) by Claude Mariottini  
[**Dust**](http://meafar.blogspot.com/) by Bob MacDonald  
[**Estudos Bíblicos**](http://panoramabiblico.blogspot.com/) by Cláudia Andréa Prata Ferreira  
[**First Three Quarters**](https://firstthreequarters.wordpress.com/) by Andrew J. Brown  
[**Klaas Spronk’s Weblog**](http://kspronk.wordpress.com/) by Klaas Spronk  
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Michael Langlois**](http://michaellanglois.fr/blog/) by Michael Langlois  
[**Old testament passion **](http://oldtestamentpassion.blogspot.com/) by Anthony Loke  
[**PaleoJudaica**](http://www.paleojudaica.blogspot.com/) by Jim Davila  
[**Prof. Lawrence H. Schiffman**](http://lawrenceschiffman.com/blog/) by Lawrence Schiffman  
[**Remythologized**](http://benstanhope.blogspot.com/) by Ben Stanhope  
[**Sansblogue**](http://www.bigbible.org/blog) by Tim Bulkeley  
[**Textual Cultures, Material Cultures**](http://textualcultures.blogspot.com/) by Michael Press  
[**The Torah: A Historical and Contextual Approach**](https://thetorah.com/) by Marc Zvi Brettler, David D. Steinberg, Zev Farber, et al  
[**With Meagre Powers**](https://withmeagrepowers.wordpress.com/) by George Athas  {% endcapture %}{{mdsource|markdownify}}
		</div></div>



	</div></div>


<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span style="font-size:smaller;">2b. Hebrew Bible and Ancient Near East</span></p>

		</div></div>



		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**The Tell es-Safi/Gath Archaeological Project Official (and Unofficial) Weblog**](http://gath.wordpress.com/) by Aren Maeir  
[**The Biblical Review**](https://thebiblicalreview.wordpress.com/) by Will Hart Brown  
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**XKV8TR**](http://robertcargill.com/) by Bob Cargill  {% endcapture %}{{mdsource|markdownify}}
		</div></div>



	</div></div>


<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span class="w400">3. New Testament. Early Christianity</span><br><span style="font-size:smaller;">3a. General New Testament</span></p>

		</div></div>



		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Acts and More**](http://stevewalton.info/) by Steve Walton  
[**Ad Cummulus**](http://www.adcummulus.blogspot.com/) by Flávio Souza, et al  
[**Akma**](http://akma.disseminary.org/) by A.K.M. Adam  
[**Amsterdam NT Weblog**](http://www.vuntblog.blogspot.com/) by Jan Krans, Bert Jan Lietaert Peerbolte, Arie Zwiep, Martin de Boer  
[**The Bible and Culture**](http://www.patheos.com/community/bibleandculture/) by Ben Witherington  
[**Bible Background**](http://www.craigkeener.com/) by Craig Keener  
[**The Bible for Normal People**](http://www.peteenns.com/) by Peter Enns  
[**Bible X**](http://www.bibleexposition.net/) by Charles Savelle  
[**Biblical Performance Criticism**](http://www.biblicalperformancecriticism.org/) by David Rhoads et al  
[**BLT — Bible * Literature * Translation**](http://bltnotjustasandwich.com/) by J. K. Gayle et al  
[**Centre for Ancient Christian Studies**](http://www.ancientchristianstudies.com/posts/) by Brian W. Davidson  
[**Centre for the Study of Christian Origins**](http://www.christianorigins.div.ed.ac.uk/blog/) by New College, University of Edinburgh  
[**Chrisendom**](http://blog.christilling.de/) by Chris Tilling  
[**Common Denominator**](http://www.kenschenck.blogspot.com/) by Ken Schenck  
[**Conciliar Post**](https://conciliarpost.com/) by Ben Winter, Johanna Byrkett, John Ehrett, et al  
[**Crux Sola**](http://nijaygupta.wordpress.com/) by Nijay K. Gupta  
[**Dr. Platypus**](http://www.pursiful.com/) by Darrell Pursiful  
[**Dunelm Road**](http://www.dunelm.wordpress.com/) by Ben C. Blackwell  
[**e-homo religiosus**](http://e-homoreligiosus.blogspot.gr/) by Pavlos D. Vasileiadis  
[**Eis Doxan**](http://eisdoxan.wordpress.com/) by Jason  
[**Eksegeettinen safari **](http://eksegeesi.blogspot.com/) by Various  
[**Estudios Bíblicos **](http://estudiosbiblicosrojas.blogspot.com/) by Manuel Rojas  
[**Ethics & Early Christianity Blog**](http://www.westarinstitute.org/blog/) by Westar Institute  
[**Evangelion / ΕΥΑΓΓΕΛΙΟΝ**](http://www.patheos.com/blogs/euangelion/) by Michael F. Bird, et al  
[**Religion Prof**](http://www.patheos.com/blogs/exploringourmatrix/) by James McGrath  
[**German for Neutestamentler**](http://germanforneutestamentler.com/) by Wayne Coppins  
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Ger Vatoshav**](http://gervatoshav.blogspot.com/) by David M. Miller  
[**Harnessing Chaos**](https://historicalchaos.wordpress.com/) by James Crossley  
[**Hypotyposeis**](http://www.hypotyposeis.org/weblog) by Stephen C. Carlson  
[**In The Text**](http://jdavidstark.com/) by David Stark  
[**James’ Thoughts and Musings**](http://www.jamesbradfordpate.blogspot.co.nz/) by James Bradford Pate  
[**Leithart**](http://www.firstthings.com/blogs/leithart/) by Peter J. Leithart  
[**My Digital Seminary**](http://mydigitalseminary.com/) by Lindsay Kennedy  
[**Marg Mowczko**](https://margmowczko.com/) by Marg Mowczko  
[**New Testament Perspectives**](http://newtestamentperspectives.blogspot.com/) by Matthew D. Montonini  
[**New Testament Review podcast**](https://itunes.apple.com/us/podcast/new-testament-review/id1377442882?mt=2) by Ian Mills and Laura Robinson  
[**NT Resources Blog**](http://ntresources.com/blog/) by Wayne Slusser  
[**NT/History Blog**](http://www.billheroman.com/) by Bill Heroman  
[**Numinosum**](http://numinosumteologia.blogspot.com.br/) by Jones Mendonça  
[**P.OST**](http://www.postost.net/) by Andrew Perriman  
[**Pursuing Veritas**](https://pursuingveritas.com/) by Jacob J. Prahlow  
[**Reading Acts**](http://readingacts.wordpress.com/) by Phillip Long  
[**Reflections**](http://m-s-kit.blogspot.com/) by Mike S  
[**Reviews of Biblical and Early Christian Studies**](http://rbecs.wordpress.com/) by Sarah Dixon, et al  
[**Rightly Dividing the Word of Truth**](http://rdtwot.wordpress.com/) by Nick Norelli  
[**Robert Myles’ Blog**](https://bibleandclassstruggle.wordpress.com/) by Robert Myles  
[**The Sacred Page**](http://www.thesacredpage.com/) by Michael Barber, Brant Pitre & John Kincaid  
[**Scripture. Culture. Impact.**](https://karenkeen.com/blog/) by Karen R. Keen  
[**Simon J. Joseph**](http://simonjjoseph.blogspot.com/) by Simon J. Joseph  
[**Threads from Henry’s Web**](http://www.deepbiblestudy.net/) by Henry Neufeld  
[**A Word in Edgewise**](http://davidbcapes.com/) by David B. Capes  
[**Zürich New Testament Blog**](https://www.uzh.ch/blog/theologie-nt/) by Universität Zürich
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



	</div></div>



<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span style="font-size:smaller;">3b. Gospels, Jesus</span></p>

		</div></div>



		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**The Bart Ehrman Blog**](http://ehrmanblog.org/category/public-forum/) by Bart Ehrman  
[**The Jesus Blog**](http://historicaljesusresearch.blogspot.co.nz/) by Anthony Le Donne et al  
[**The Jesus Memoirs**](https://jesusmemoirs.wordpress.com/) by Michael Kok  
[**Larry Hurtado’s Blog**](http://larryhurtado.wordpress.com/) by Larry Hurtado  
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**NT Blog**](http://ntweblog.blogspot.com/) by Mark Goodacre  
[**NT Pod **](http://podacre.blogspot.com/) by Mark Goodacre  
[**Tabor Blog**](http://jamestabor.com/) by James Tabor
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



	</div></div>



<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span style="font-size:smaller;">3c. Paul, deutero-Paulines</span></p>

		</div></div>



		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Paul and co-workers**](http://paulandco-workers.blogspot.com/) by Richard Fellows  
[**Paul Redux**](http://paulredux.blogspot.com/) by Max Lee  
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Polumeros kai Polutropos **](http://polumeros.blogspot.com/) by Brian Small
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



	</div></div>




<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span style="font-size:smaller;">3d. Greco-Roman Culture</span></p>

		</div></div>



		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Arne Berge**](http://arneberge.wordpress.com/) by Arne Berge  
[**Bible Places**](http://blog.bibleplaces.com/index.html) by Todd Bolen   
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Ferrell’s Travel Blog**](http://ferrelljenkins.wordpress.com/) by Ferrell Jenkins  
[**Philonica et Neotestamentica**](http://www.biblicalresources.wordpress.com/) by Torrey Seland
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



	</div></div>





<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span style="font-size:smaller;">3e. Christian Origins and NT Apocrypha</span></p>

		</div></div>



		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Apocryphicity**](http://www.apocryphicity.ca/) by Tony Burke  
[**Biblindex**](http://biblindex.hypotheses.org/) by Laurence Mellerin  
[**Early Christian Archives (τὰ ἀρχεῖα)**](http://taarcheia.wordpress.com/) by Kyle Hughes  
[**Faces&Voices**](https://facesandvoices.wordpress.com/) by Roberta Mazza   
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Forbidden Gospels Blog **](http://aprildeconick.com/) by April DeConick  
[**The Least Creative Homepage in the History of Humanity**](https://tacet.wordpress.com/) by Eric M. Vanden Eykel  
[**North American Association for the Study of Christian Apocrypha**](http://www.nasscal.com/news/) by Tony Burke
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



	</div></div>


<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span class="w400">4. Textual Criticism, Translation, and Linguistics</span> <span style="font-size:smaller;">General Textual Criticism</span></p>

		</div></div>



		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Evangelical Textual Criticism**](http://www.evangelicaltextualcriticism.blogspot.com/) by Tommy Wasserman et al  
{% endcapture %}{{mdsource|markdownify}}
		</div></div>




	</div></div>



<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span style="font-size:smaller;">4b. Old Testament and aNE Textual Criticism</span></p>

		</div></div>



		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**גילוי מילתא בעלמא**](http://imhm.blogspot.co.il/) [**Giluy Milta B’alma**](http://imhm.blogspot.co.il/) by Ezra Chwat  
[**Língua Hebraica **](http://linguahebraica.blogspot.com/) by Cláudia Andréa Prata Ferreira    
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**OTTC: A Blog for Old Testament Textual Criticism**](http://oldtestamenttextualcriticism.blogspot.com/) by Drew Longacre
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



	</div></div>




<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span style="font-size:smaller;">4c. Septuagint Studies</span></p>

		</div></div>



		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Brian W. Davidson**](http://brianwdavidson.com/) by Brian W. Davidson  
[**LXX Studies**](https://septuagintstudies.wordpress.com/) by John Meade    
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**William A. Ross**](https://williamaross.wordpress.com/) by William A. Ross  
[**Words on the Word**](http://abramkj.com/) by Abram K-J
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



	</div></div>

<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span style="font-size:smaller;">4d. New Testament and Early Christian Textual Criticism</span></p>

		</div></div>



		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Alin Suciu**](http://alinsuciu.com/) by Alin Suciu  
[**Bill Mounce**](https://billmounce.com/blog) by Bill Mounce  
[**Chioulaoshi Blog. 邱老師網誌**](http://chioulaoshi.blogspot.com/) by Lao Shi (Jennifer ) Chiou  
[**Coptic Scriptorium**](http://blog.copticscriptorium.org/) by David Sriboonreuang  
[**Daniel B. Wallace**](http://danielbwallace.com/) by Daniel B. Wallace  
[**ἐνθύμησις**](http://jacobcerone.com/) by Jacob Cerone   
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Greek Language and Linguistics**](https://www.greeklanguage.blog/) by Micheal Palmer  
[**The Greek New Testament**](http://www.tyndale.cam.ac.uk/thgnt_blog/) by Dirk Jongkind  
[**Koine Greek**](http://www.evepheso.wordpress.com/) by Mike Aubrey  
[**Markus Vinzent’s Blog**](http://www.markusvinzent.blogspot.com/) by Markus Vinzent  
[**Philip B. Payne**](https://www.pbpayne.com/) by Philip B. Payne  
[**The Textual Mechanic**](http://thetextualmechanic.blogspot.com/) by Timothy N. Mitchell  
[**Variant Readings**](https://brentnongbri.com/) by Brent Nongbri
{% endcapture %}{{mdsource|markdownify}}
		</div></div>



	</div></div>



<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span class="w400">5. Theory and Reception</span></p>

		</div></div>


		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Bible Films Blog**](http://biblefilms.blogspot.com/) by Matt Page  
[**CSST: Changes in Sacred Texts and Traditions**](http://blogs.helsinki.fi/sacredtexts/blog/) by University of Helsinki  
[**A Chorus of Voices: The Reception History of the Parables**](http://parablesreception.blogspot.com/) by David B. Gowler  {% endcapture %}{{mdsource|markdownify}}
		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Newman Research Centre for the Bible and its Reception**](http://bibleresearchtoday.com/) by Richard Goode  
[**Remnant of Giants**](http://remnantofgiants.wordpress.com/) by Deane Galbraith  
[**Shiloh Project**](https://shiloh-project.group.shef.ac.uk/) by SIIBS{% endcapture %}{{mdsource|markdownify}}
		</div></div>



	</div></div>




<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large"><span class="w400">6. Commercial Journals and Publishers</span></p>

		</div></div>


		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Les actualités du Monde de la Bible**](http://www.mondedelabible.com/) by Le Monde de la Bible  
[**Eerdword**](http://eerdword.wordpress.com/) by Eerdmans {% endcapture %}{{mdsource|markdownify}}
		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">
{% capture mdsource %}
[**Koinonia**](http://koinoniablog.net/) by Zondervan  
[**Theology & Biblical Studies**](http://tandtclark.typepad.com/ttc/) by T&T Clark{% endcapture %}{{mdsource|markdownify}}
		</div></div>



	</div></div>



</div>
</div></div></div>  </div>

  
  
</div>
  </div>
</div>
</div>
				<!--close row --></div>
		</div>
		<!-- close-col-sm-12 --></div>
	<!-- close row --></div>
</main>

{% include footer.html %}

  <script src="assets-landing/js/bootstrap.min.js"></script>

</body></html>
