---
---
<html lang="en"><head profile="http://www.w3.org/1999/xhtml/vocab">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
<meta name="description" content="The Institute for Biblical Content is an international consortium of specialists in ancient and modern linguistics, religious studies, archeology and textual criticism. It functions as a Bible society and adheres to Open Access principles." id="meta-description">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Institute for Biblical Content</title>
  <link rel="shortcut icon" type="image/ico" href="assets-landing/img/favicons/favicon.ico">
  <link href="assets-landing/fonts/Source-Sans-Pro/css/fonts.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="assets-landing/fonts/font-awesome-4.5.0/css/font-awesome.css">
  <link rel="stylesheet" href="assets-landing/css/c3d3.css">
<style type="text/css" media="all">
@import url("assets-landing/itdb.css?qoe1of");
</style>
      <script src="assets-landing/js/c3d3.js"></script>
</head>

<body class="html front not-logged-in no-sidebars page-node default-interior default-interior default-interior">
    <header role="banner" class="container-fluid sec-variant-midblue level-4">{% include nav.html %}
    </header>

    <main role="main" id="main-content">

        <div class="container-fluid container-fluid sec-variant-midblue level-3 main-bg">
            <div class="container">
                                  <div class="region region-header">
    <div id="block-nodeblock-top-title" class="block block-nodeblock row  top-margin-10">
  <div class="content">
        
<div id="node-11" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Top Title" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>
	<div class="col-sm-12 text-center">
		<h1 class="w300 super-sized">Institute <em class="w200">for</em> Biblical&nbsp;Content</h1>

		<div class="row top-margin-10">
			<div class="col-sm-12 text-left">
				<div class="tuck-5">
					<div class="row">
						<div class="col-sm-10 ">
							<p class="w200 lead marbottom-0">A Bible society adhering to Open Access principles, a consortium of specialists in linguistics, religious studies, archeology and textual criticism.</p>
						</div>

						<div class="col-sm-2 text-center dash-left dash-right"><i class="h3 icon-glasses"></i><br><a aria-controls="home-read-more" class="read-more" data-parent="#home-middle-accordion" data-toggle="collapse" href="#contents" role="button">IBC.OARC.science</a></div>
					</div>
				</div>
				<!--close row --></div>
		</div>
		<!-- close-col-sm-12 --></div>
	<!-- close row --></div>
<!-- close col-sm-12 text-left --><!-- close row --></div></div></div>  </div>

  
  
</div>
  </div>
</div>

<div id="block-nodeblock-top-buttons" class="block block-nodeblock">
  <div class="content">
        <div id="node-23" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Top Button Area" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded">
<div class="tuck-7">
	<div class="row top-gutter-20 martop-0">
		<div class="col-sm-12 text-center" style="
    padding-bottom: 5%;
"><a aria-controls="home-dive-in" aria-expanded="false" class="btn btn-default btn-lg-2x trend_sans_oneregular" data-parent="#home-middle-accordion" data-toggle="collapse" href="#home-dive-in" role="button">To assets&nbsp;<i class="icon-guage"></i></a>
			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="row">
						<div class="col-sm-12">
							<div aria-multiselectable="true" class="panel-group" id="home-middle-accordion" role="tablist">
								<div class="panel panel-default">
									<div aria-labelledby="home-dive-in" class="panel-collapse collapse" id="home-dive-in" role="tabpanel">
										<div class="panel-body text-left">
											<div class="row">
												<div class="col-sm-12 text-center">
													<p>To get started, below is a list of all U.S. agencies and how much each one spent this past year on information technology. Click on any one to find out more about each agency’s investments and see how the agency and their investments are performing. You can also see how the entire government is spending money on information technology by looking at the See government-wide view link.</p>
												</div>
											</div>
											<!-- close row -->

											<div class="row">
												<div class="loading" id="agency-tiles-container"></div>
												<!-- row --></div>

											<div class="col-sm-12 text-center">
												<h3 class="w200"><a href="">See government-wide view</a></h3>
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<div aria-labelledby="home-read-more" class="panel-collapse collapse" id="home-read-more" role="tabpanel">
											<div class="panel-body text-left">
												<h4 class="w200">More about ITDashboard.gov</h4>

												<p>The IT Dashboard was launched on June 1, 2009, to provide Federal agencies and the public with the ability to view details of Federal information technology (IT) investments online and to track their progress over time. The IT Dashboard displays data received from agency IT Portfolio and Business Case reports, including general information on over 7,000 Federal IT investments and detailed data for over 700 of those investments that agencies classify as "major." Agency Chief Information Officers (CIO) are responsible for evaluating and updating select data on a regular basis, which is accomplished through interfaces provided by the IT Dashboard.</p>
<!-- START HERE -->												<div class="row top-margin-10">												<div class="col-sm-12 text-center"><span class="h4 w200">We've created a quick guided tour to help you get your bearings:</span><br>													<iframe width="560" height="315" src="https://www.youtube.com/embed/YgmlNpWTxw4" frameborder="0" allowfullscreen=""></iframe>
</div></div>
<!-- END HERE -->

											</div>
										</div>
									</div>
									<!-- close col-sm-12 --></div>
								<!-- close row --></div>
							<!-- close col-sm-12 --></div>
						<!-- close row --></div>
					<!-- close col-sm-12 --></div>
				<!-- close row --></div>
			<!-- close tuck-7 --></div>
	</div>
</div>
</div></div></div>  </div>

  
  
</div>
  </div>
</div>

  </div>
            </div><!-- end container -->
        </div><!-- close container-fluid -->

        <div class="container-fluid sec-variant-midblue level-4 main-bg">
            <div class="container">
                <div class="row top-gutter-20">
                    <div class="col-sm-12 tuck-7 text-left">
                          <div class="region region-neck">
    <div id="block-nodeblock-learn" class="block block-nodeblock row top-gutter-60">
  <div class="content">
        
<div id="actions" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Learn" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>
	<div class="col-sm-12 text-center"><h1 class="w200 super-sized transparency-40">Actions</h1></div>
</div>
</div></div></div>  </div>

  
  
</div>
  </div>
</div>
<div id="block-nodeblock-top-panels" class="block block-nodeblock row top-gutter-60 top-margin-10 bottom-margin-10">
  <div class="content">
        
<div id="node-22" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Top Panels" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>
                        <div class="col-sm-4">
                        <div class="row">
                        <div class="col-sm-3 text-center w600 transparency-10 md-sized dash-left">1<span class="h2 w700">.</span></div>
                        <!-- close col-sm-4 -->

                        <div class="col-sm-9">
                        <div class="row">
                        <div class="col-xs-8">
                        <h2 class="w200 martop-0 transparency-80">Propagate existing content</h2>
                        </div>
                        <!-- close col-sm-10 -->

                        <div class="col-xs-4 text-left">
                        <div class="martop-0 transparency-20 marbottom-0 h2 icon-lightbulb">&nbsp;</div>
                        </div>
                        <!-- close col-sm-2 --></div>
                        <!-- close row -->

                        <p class=" ">We replicate and host several Open Access Bible translations in different languages.</p>

                        <div class="tuck-5"><ul class="list-unstyled list-group" type="A">
                        <li>We hunt for less available translations requiring <strong>effort</strong> to be transformed and put online.</li>
                        <li><a class="underlined" href="#learn-what">Institute's Multilingual Bible Reader</a></li>
                        </ul></div>

                        </div>
                        </div>
                        <!-- close row --></div>
                        <!-- col-sm-4" -->

                        <div class="col-sm-4">
                        <div class="row">
                        <div class="col-sm-3 dash-top text-center w600 transparency-10 md-sized">2<span class="h2 w700">.</span></div>
                        <!-- close col-sm-4 -->

                        <div class="col-sm-9">
                        <div class="row">
                        <div class="col-xs-8">
                        <h2 class="w200 martop-0 transparency-80">Produce new content</h2>
                        </div>
                        <!-- close col-sm-10 -->

                        <div class="col-xs-4 text-left"><i class="h1 transparency-20 icon-binoculars"></i></div>
                        <!-- close col-sm-2 --></div>
                        <!-- close row -->

                        <p class=" ">We produce Bible translations into several selected languages and release these into the Public Domain. We engage professional linguists and translators specializing in Hebrew, Aramaic and Greek:</p>

                        <div class="tuck-5">
                        <ul class="list-unstyled list-group">
                        <li><strong>Endow</strong> nations with accessible and high-quality translations of the Bible;</li>
                        <li><strong>Contribute</strong> to the standardization and uniformization of the international Biblical terminology.</li>
                        <!--<li><a class="underlined" href="#explore-govwide">Government-wide IT Spending</a></li>-->
                        </ul></div>
                        </div>
                        </div>
                        <!-- close row --></div>
                        <!-- col-sm-4" -->

                        <div class="col-sm-4 col-sm-4">
                        <div class="row">
                        <div class="col-sm-3 text-center w600 transparency-10 md-sized">3<span class="h2 w700">.</span></div>
                        <!-- close col-sm-4 -->

                        <div class="col-sm-9">
                        <div class="row">
                        <div class="col-xs-8">
                        <h2 class="w200 martop-0 transparency-80">Develop collateral content</h2>
                        </div>
                        <!-- close col-sm-10 -->

                        <div class="col-xs-4 text-left">
                        <div class="martop-0 transparency-20 marbottom-0 h2 icon-graph">&nbsp;</div>
                        </div>
                        <!-- close col-sm-2 --></div>
                        <!-- close row -->

                        <p class=" ">We aggregate and maintain repositories of ancient Christian and Judeo-Christians texts, always in Open Access.</p>

                        <div class="tuck-5">
                        <ul class="list-unstyled list-group">
                        <li>We host <a class="underlined" href="#analyze-pstat"><strong>Paracalypsis</strong></a>, a library of ancient texts, ancient Christian writers and Judeo-Christians.</li>
                        <li>We populate Christianity-, Judaism- and Bible- related parts of the OARC's archive <a class="underlined" href="#analyze-pstat"><strong>Intangible Textual Heritage</strong></a>.</li>
                        </ul></div>
                        </div>
                        </div>
                        <!-- col-sm-4" --></div>
                        <!-- row top-gutter" --></div></div></div></div>  </div>

  
  
</div>
  </div>
</div>
<div id="block-nodeblock-learn-basic-stats" class="block block-nodeblock row top-gutter top-margin-10">
  <div class="content">
        
<div id="node-10" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Learn the Basic Statistics" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div id="learn-basic-stats">
	<div class="col-sm-12 text-left">
		<h2 class="w200">The Basics</h2>

		<div class="row">
			<div class="col-sm-8 dash-right">
				<div class="tuck-5">
					<p class="w200 lead">In the 21st century, the only truly Open content is that which is easily discoverable (that is, well web-indexed) and readily propagated (that is, easily reproducible). The intitative for Open Access to Research Content provides for better visibility of scientific and educational knowledge through simple and robust web and paper publishing and populazation models.</p>
				</div>
			</div>
			<!-- close col-sm-10 -->

			<div class="col-sm-4 text-center dash-left dash-right"><p>UNESCO Recommendation</p><p><a class="btn btn-default" href="https://unevoc.unesco.org/home/Open+Licensing+of+Educational+Resources&amp;context=">OER: Open Licensing of educational content</a></p><p>Open Educational Resources</p><p><a class="btn btn-default" href="https://oerworldmap.org/">OER World Map</a></p></div>
		</div>
		<!-- close row --></div>
	<!-- close col-sm-12 --></div>

<!-- close row top-gutter-40 --></div></div></div>  </div>









    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div id="learn-basic-stats">
	<div class="col-sm-12 text-left">
		<h3 class="w200 text-right">The Premises</h3>

		<div class="row">

			<div class="col-sm-3 text-center">
				<div class="tuck-5">
					<p class="w300 lead h3">The concept of Open&nbsp;Access is endemic to <strong class="w600">Abrahamic religious</strong>, <strong class="w600">European civilizational</strong> <em>and</em> <strong class="w600">scientific traditions</strong>.</p>
				</div>
			</div>


			<div class="col-sm-9 dash-right">
				<div class="tuck-5">
					<p class="w200">The need to provide reproducible, verifiable and refutable discourses dominated in Judaism and Christianity and endowed with exemplary status some corpuses of their content: primary (writings) and derivative (commentaries and commentaries on commentaries). It came into general use that the access to these bodies of writings should be free and universal.</p><p class="w200">In the Middle East, medieval Islamic thought established similar prerogative of direct access with respect to the received texts.</p><p class="w200">In the XVI c., European Christianity instituted the sovereignty of the Bible for religious purposes and imposed it through the printing technology. The culture of unlimited access has then contributed to the advent of the positivist science in the XIX—XX cc.</p>
				</div>
			</div>
			<!-- close col-sm-10 -->


		</div>
		<!-- close row --></div>
	<!-- close col-sm-12 --></div>

<!-- close row top-gutter-40 --></div></div></div>  </div>











  
  
</div>
  </div>
</div>
<div id="block-nodeblock-learn-it-spending" class="block block-nodeblock tuck-10 ">
  <div class="content">
        
<div id="node-71" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Learn IT Spending" class="rdf-meta element-hidden"></span>
			<p class="w200"> </p> 

  <blockquote>
<div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>
	<div class="row">

		<!-- close col-sm-12 -->

		<div class="col-sm-12 text-center">
			<div class="tuck-5 dash-right">
				<div class="w200 h3">			<em>I have always militated for the Bible and educational content being Openly Accessible in national languages. "<strong class="w400">So that every ordinary person and a citizen, through reading or listening, could understand what is needed for their spiritual fulfillment.</strong>"<br>(1517)</em>
				</div>
			</div>
		</div>
		<!-- close col-sm-12 text-left -->



		<div class="col-sm-12">
			<div class="tuck-10">
				<div class="row top-gutter">
					<div class="col-sm-2 text-center"><img style="width:4em;" filter="invert(1)" src="assets-landing/img/avatarBl.svg" align="top">
					</div>
					<div class="col-sm-10 text-left">
						<p class="h4 w300">Francysk Skaryna, PhD</p>
<p class="h4 w200">Bible translator, first Belarusian—Russian—Ukrainian bookprinter</p>
					</div>

				</div>
				<!-- cose row --></div>
			<!-- tuck 5 --></div>
		<!-- close col-sm-12 --></div>
	<!-- close row --></div>
<!-- close tuck --></div></div></div>  </div>
    </blockquote>

  
  
</div>
  </div>
</div>



  </div>
                    </div><!-- close col-sm-10 -->
                </div><!-- close row top-gutter-20 -->
            </div><!-- end container -->
        <!-- end container fluid -->
        <div class="container-fluid sec-variant-midblue level-5 main-bg">
            <div class="container">
                <div class="row top-gutter-20">
                    <div class="col-sm-12 tuck-7 text-left">
                          <div class="region region-shoulder">
    <div id="block-nodeblock-explore" class="block block-nodeblock row top-gutter-60">
  <div class="content">
        
<div id="entity" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Explore" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>
	<div class="col-sm-12 text-center">
<h1 class="w200   transparency-60">Entity</h1>
		<!-- h1 class="h1 super-sized transparency-40 w200">Explore&nbsp;&nbsp;<i class="icon-binoculars"></i></h1 -->
	</div>
</div>
</div></div></div>  </div>

  
  
</div>
  </div>
</div>
<div id="block-nodeblock-learn-what" class="block block-nodeblock row top-gutter-60">
  <div class="content">
        
<div id="node-8" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Learn What Is" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div id="learn-what">
	<div class="col-sm-12">
		<h3 class="w200">History</h3>

		<div class="col-sm-8"><div class="tuck-5">
			<p class="w200 lead">The Institute for Biblical Content is an international consortium of specialists in ancient and modern linguistics, religious studies, archeology and textual criticism. Originally refered to as “Summer Institute of Biblical Studies”, the Institute has been held as a scientific summer school since the mid 1990s in different locations around the world. The formalization as a stable entity took place in 2003 and the Open Access orientation has been articulated since 2012.</p>
		</div></div>

		<div class="col-sm-4"><div class="tuck-5">
			<p class="w200 h4"><em>Key dates:</em></p>
            <div class="list-unstyled list-group tuck-5 h4">
            <p class="w200 lead"><strong class="w300 lead">1996</strong> First SIBS, Bratislava<br><strong class="w300 lead">2003</strong> Registration, Paris<br><strong class="w300 lead">2012</strong> OA enrollment, Tokyo</p>
</div>
		</div></div>


	</div>
	<!-- close col-sm-4 --></div>
<!-- close row --></div></div></div>  </div>

  
  
</div>
  </div>
</div><div id="block-nodeblock-learn-who" class="block block-nodeblock row top-gutter-20">
  <div class="content">
        
<div id="node-7" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Learn Who Uses" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>
	<div class="col-sm-12">
		<h3 class="w200" id="learn-who">Presence</h3>

		<div class="tuck-7">
			<p class="w200 lead">Our activities span worldwide and we engage specialists affiliated with scientific institutions in France, Iran, Australia, Tajikistan, Belarus, Indonesia. The Institute is headquartered in Paris (France).</p>
		</div>
	</div>
	<!-- close col-sm-4 --></div>
<!-- close row --></div></div></div>  </div>

  
  
</div>
  </div>
</div><div id="block-nodeblock-learn-who" class="block block-nodeblock row top-gutter-20">
  <div class="content">
        
<div id="node-7" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Learn Who Uses" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>
	<div class="col-sm-12">
		<h3 class="w200" id="learn-who">Funding</h3>

		<div class="col-sm-5"><div class="tuck-3">
			<p class="w200 lead">The Institute constitutes a scientific interest group with regard to the French nomenclature, and as such we do not receive any funding from denominational, or non-, organizations.</p>
		</div></div>

		<div class="col-sm-6"><div class="tuck-3">
			<p class="w200 lead">However, the French Governmental Services may sporadically contribute to the work of the Institute through a funding grant distributed by the French Development Agency, notably within one of their Open Access actions.</p>
		</div></div>

		<div class="col-sm-1"><div class="tuck-3">
			<p class="w200 h4"><em>Links:</em></p>
            <div class="list-unstyled list-group tuck-5 h4">
            <p class="w200 lead"><a class="w300 lead" href="http://www.dgdr.cnrs.fr/daj/Archive%202017/partenariat/partenariat/Archives/structcontractuelles/gis1.htm" style="text-decoration:none;color:inherit;">GIS</a><br><a class="w300 lead" href="https://www.afd.fr/fr/page-thematique-axe/numerique-et-innovation" style="text-decoration:none;color:inherit;">AFD</a></p>
</div>
		</div></div>



	</div>
	<!-- close col-sm-4 --></div>
<!-- close row --></div></div></div>  </div>

  
  
</div>
  </div>
</div><div id="block-nodeblock-learn-who" class="block block-nodeblock row top-gutter-20">
  <div class="content">
        
<div id="node-7" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Learn Who Uses" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>
	<div class="col-sm-12">
		<h3 class="w200" id="learn-who">Indexing</h3>

		<div class="tuck-7">
			<p class="w200 lead">IBC strives to monitor research and communication activities in scientific disciplines adjacent to its shpere of interest. We identify high-quality content and federate researchers in diverse fields of biblical studies.</p>
		</div>




	</div>
	<!-- close col-sm-4 --></div>
<!-- close row --></div></div></div>  </div>

  
  
</div>
  </div>
</div>

<div id="block-nodeblock-learn-who" class="block block-nodeblock row top-gutter-20">
  <div class="content">
        
<div id="node-7" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Learn Who Uses" class="rdf-meta element-hidden"></span>
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>

	<div class="tuck-7">

	<div class="col-sm-12">

		<div class="col-sm-3 text-center"><div class="tuck-5">
			<p class="w200 h3" style="font-size:xx-large">The Institute maintains a dedicated curated directory of expert resources on the following topics:</p>

		</div></div>



		<div class="col-sm-4  dash-left" style="font-size:larger"><div class="tuck-5">
            <ol class="w300 list-group tuck-5">
            <li>General Biblical Studies</li><li>Hebrew Bible / Early Judaism<ol class="tuck-5 w200" type="a"><li>General Hebrew Bible</li><li>Hebrew Bible and Ancient Near East</li></ol></li>
            <li>New Testament / Early Christianity<ol class="tuck-5 w200" type="a"><li>General New Testament</li><li>Gospels, Jesus</li><li>Paul, deutero-Paulines</li><li>Greco-Roman Culture</li><li>Christian Origins and NT Apocrypha</li></ol></li>
</ol>



		</div></div>



		<div class="col-sm-4" style="font-size:larger"><div class="tuck-5">


            <ol class="w300 list-group tuck-5" start="4">
            <li>Textual Criticism, Translation, and Linguistics<ol class="tuck-5 w200" type="a"><li>General Textual Criticism</li><li>Old Testament and aNE Textual Criticism</li><li>New Testament and Early Christian Textual Criticism</li></ol></li><li>Theory and Reception</li>
</ol><p class="w200">This nomenclature falls within the scope of the Section 32 of the CNRS, “Ancient and medieval worlds”</p>

		</div></div>



	</div></div>
	<!-- close col-sm-4 --></div>
<!-- close row --></div></div></div>  </div>

  
  
</div>
  </div>
</div>





  </div>
                    </div><!-- close col-sm-10 -->
                </div><!-- close row top-gutter-20 -->
            </div><!-- end container -->
        </div><!-- end container fluid -->



        
<div class="container-fluid sec-variant-midblue level-3" style="/* background-color:#da213b; */">
            <!-- end container -->




        <!-- end container fluid -->


        <div class="container-fluid sec-variant-offwhite ">

            <div class="container">
                            </div>

            <!-- close container-fluid -->

        </div>

        

    </div><header role="banner" class="container-fluid sec-variant-midblue level-4">{% include nav.html %}</header><div class="container-fluid container-fluid sec-variant-midblue level-3 main-bg">
            <div class="container">
                                  <div class="region region-header">
    <div id="block-nodeblock-top-title" class="block block-nodeblock row  top-margin-10">
  <div class="content">
        
<div id="#assets" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Top Title" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>
	<div class="col-sm-12 text-center">
		<h1 class="w200">Assets</h1>

		<div class="row top-margin-10">
			<div class="col-sm-12 text-left">
				<div class="tuck-5">
					<div class="row">

{% for asset in site.assets %}
						<div class="col-sm-6 w200 lead"><div class="w200 h3">{{asset.name}}</div><div><a class="navbar-brand trend_sans_oneregular sec-variant-midblue level-4" href="#">Paracalypsis&nbsp;·<span class="element-invisible">&nbsp;</span>OARC<span style="font-size:10px;">.science</span></a></div>

						<div class="col-sm-10 ">
							<p class="w200 lead marbottom-0">{{asset.description}}</p>
						</div>


     					<div class="col-sm-5 text-center dash-left dash-right"><i class="h3 fa-github"></i><br><a aria-controls="home-read-more" class="read-more" data-parent="#home-middle-accordion" data-toggle="collapse" href="{{asset.url}}" role="button">{{asset.url}}</a></div>




</div>
{% endfor %}


					</div>
				</div>
				<!--close row --></div>
		</div>
		<!-- close-col-sm-12 --></div>
	<!-- close row --></div>
<!-- close col-sm-12 text-left --><!-- close row --></div></div></div>  </div>

  
  
</div>
  </div>
</div>

<div id="block-nodeblock-top-buttons" class="block block-nodeblock">
  <div class="content">
        <div id="node-23" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Front Page Top Button Area" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded">
<div class="tuck-7">
	<div class="row top-gutter-20 martop-0">
		<div class="col-sm-12 text-center">
			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="row">
						<div class="col-sm-12">
							<div aria-multiselectable="true" class="panel-group" id="home-middle-accordion" role="tablist">
								<div class="panel panel-default">
									<div aria-labelledby="home-dive-in" class="panel-collapse collapse" id="home-dive-in" role="tabpanel">
										<div class="panel-body text-left">
											<div class="row">
												<div class="col-sm-12 text-center">
													<p>To get started, below is a list of all U.S. agencies and how much each one spent this past year on information technology. Click on any one to find out more about each agency’s investments and see how the agency and their investments are performing. You can also see how the entire government is spending money on information technology by looking at the See government-wide view link.</p>
												</div>
											</div>
											<!-- close row -->

											<div class="row">
												<div class="loading" id="agency-tiles-container"></div>
												<!-- row --></div>

											<div class="col-sm-12 text-center">
												<h3 class="w200"><a href="">See government-wide view</a></h3>
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<div aria-labelledby="home-read-more" class="panel-collapse collapse" id="home-read-more" role="tabpanel">
											<div class="panel-body text-left">
												<h4 class="w200">More about ITDashboard.gov</h4>

												<p>The IT Dashboard was launched on June 1, 2009, to provide Federal agencies and the public with the ability to view details of Federal information technology (IT) investments online and to track their progress over time. The IT Dashboard displays data received from agency IT Portfolio and Business Case reports, including general information on over 7,000 Federal IT investments and detailed data for over 700 of those investments that agencies classify as "major." Agency Chief Information Officers (CIO) are responsible for evaluating and updating select data on a regular basis, which is accomplished through interfaces provided by the IT Dashboard.</p>
<!-- START HERE -->												<div class="row top-margin-10">												<div class="col-sm-12 text-center"><span class="h4 w200">We've created a quick guided tour to help you get your bearings:</span><br>													<iframe width="560" height="315" src="https://www.youtube.com/embed/YgmlNpWTxw4" frameborder="0" allowfullscreen=""></iframe>
</div></div>
<!-- END HERE -->

											</div>
										</div>
									</div>
									<!-- close col-sm-12 --></div>
								<!-- close row --></div>
							<!-- close col-sm-12 --></div>
						<!-- close row --></div>
					<!-- close col-sm-12 --></div>
				<!-- close row --></div>
			<!-- close tuck-7 --></div>
	</div>
</div>
</div></div></div>  </div>

  
  
</div>
  </div>
</div>

  </div>
            </div><!-- end container -->
        </div></main>

    <footer role="contentinfo">
          <div class="region region-floor">
    <div id="block-nodeblock-floor" class="block block-nodeblock container-fluid sec-variant-midgrey seethru level-4">
  <div class="content">
        
<div id="node-21" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Floor" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>
            <div class="container">
            <div class="row top-gutter-20">
            <div class="col-sm-12 text-center"><img alt="The Executive Office of the President Seal" src="assets-landing/img/seal-footer.png"><br>
            Executive Office of the President<br>
            Office of Management and Budget</div>
            </div>

            <div class="row ">
            <div class="col-sm-12 text-center small">
            <p>This site is an official website of the United States Government.</p>
            </div>
            </div>

            <div class="row top-gutter-20">
            <div class="col-sm-12 text-center">
            <ul class="list-inline"><li><a href="https://www.data.gov/">Data.gov</a></li>
            <li><a href="https://www.whitehouse.gov/">WhiteHouse.gov</a></li>
            <li><a href="https://www.usa.gov/">USA.gov</a></li>
            <li><a href="https://www.performance.gov/">Performance.gov</a></li>
            <li><a href="https://pulse.cio.gov">Pulse.CIO.gov</a></li>
            <li><a href="http://labs.data.gov/dashboard/offices">Open Data Dashboard</a></li>
            <li><a href="https://fedv6-deployment.antd.nist.gov/cfo.html">IPv6 &amp; DNSSEC Deployment Status</a></li>
            </ul></div>
            </div>
            </div>
            </div></div></div></div>  </div>

  
  
</div>
  </div>
</div>
  </div>
    </footer>

    <div class="modal fade" id="feedback-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		<h2 class="modal-title" id="myModalLabel">Feedback</h2>
              </div>
              <div class="modal-body"><form class="form-horizontal" action="#" method="post" id="itdb-custom-feedback-form" accept-charset="UTF-8"><div><div id="feedback-form-messages"></div><fieldset><legend class="element-invisible">Your contact information and feedback</legend><div class="col-md-offset-1 col-md-9"><div class="form-item form-type-textfield form-item-first-name">
  <label class="element-invisible" for="edit-first-name">First Name <span class="form-required" title="This field is required.">*</span></label>
 <input placeholder="First Name" class="form-control form-text required" type="text" id="edit-first-name" name="first_name" value="" size="60" maxlength="128">
</div>
</div><div class="col-md-offset-1 col-md-9"><div class="form-item form-type-textfield form-item-last-name">
  <label class="element-invisible" for="edit-last-name">Last Name <span class="form-required" title="This field is required.">*</span></label>
 <input placeholder="Last Name" class="form-control form-text required" type="text" id="edit-last-name" name="last_name" value="" size="60" maxlength="128">
</div>
</div><div class="col-md-offset-1 col-md-9"><div class="form-item form-type-textfield form-item-email">
  <label class="element-invisible" for="edit-email">Email Address <span class="form-required" title="This field is required.">*</span></label>
 <input placeholder="Email Address" class="form-control form-text required" type="text" id="edit-email" name="email" value="" size="60" maxlength="128">
</div>
</div><div class="col-md-offset-1 col-md-9"><div class="form-item form-type-radios form-item-requesttype">
  <label class="element-invisible" for="edit-requesttype">Request Type </label>
 <div id="edit-requesttype" class="form-radios"><div class="form-item form-type-radio form-item-requesttype">
 <input type="radio" id="edit-requesttype-press" name="requesttype" value="press" class="form-radio">  <label class="option" for="edit-requesttype-press">Press Inquiries </label>

</div>
<div class="form-item form-type-radio form-item-requesttype">
 <input type="radio" id="edit-requesttype-tech" name="requesttype" value="tech" class="form-radio">  <label class="option" for="edit-requesttype-tech">Technical Inquiries </label>

</div>
</div>
</div>
</div><div class="col-md-offset-1 col-md-9"><div class="form-item form-type-textarea form-item-message">
  <label class="element-invisible" for="edit-message">Message <span class="form-required" title="This field is required.">*</span></label>
 <div class="form-textarea-wrapper resizable"><textarea placeholder="Please enter your comments and questions here" class="form-control form-textarea required" id="edit-message" name="message" cols="60" rows="5"></textarea></div>
</div>
</div><div class="col-md-offset-1 col-md-9"><div class="captcha"><input type="hidden" name="captcha_sid" value="6546857">
<input type="hidden" name="captcha_token" value="55d353b576f4f33385b6fb39d300e1b3">
<input type="hidden" name="captcha_response" value="Google no captcha">
<div class="g-recaptcha" data-sitekey="6LckjkIUAAAAACaSZPad_S1v1Trvz2FtBO7jIe5P" data-theme="light" data-type="image"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LckjkIUAAAAACaSZPad_S1v1Trvz2FtBO7jIe5P&amp;co=ZmlsZTo.&amp;hl=en&amp;type=image&amp;v=a7xT2d71Jli62wQMfeUUrLcO&amp;theme=light&amp;size=normal&amp;cb=7si99ule8imx" width="304" height="78" role="presentation" name="a-9ygnybhebtbq" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div><input type="hidden" name="captcha_cacheable" value="1">
</div></div></fieldset><div class="modal-footer"><input class="btn btn-default btn-lg usa-button-outline form-submit" data-dismiss="modal" type="submit" id="edit-close" name="op" value="Close"><div class="col-md-offset-1 col-md-9"><input class="btn btn-lg btn-primary form-submit" type="submit" id="edit-submit" name="op" value="Submit"></div></div><input type="hidden" name="form_build_id" value="form--YdjqbJXYgRZ1_6sfz26lFM70FpRqSrKeupB62V2JyI">
<input type="hidden" name="form_id" value="itdb_custom_feedback_form">
</div></form></div>
            </div>
          </div>
        </div>
  <span id="top-link-block" class="hidden sec-variant-offwhite level-4">
    <a href="#top" target="_self" class="btn btn-default btn-lg w600" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
      <span class="fa fa-chevron-up"></span> Back to Top
    </a>
  </span><!-- /top-link-block -->
  <script src="assets-landing/js/jquery.matchHeight.js"></script>
  <script src="assets-landing/js/bootstrap.min.js"></script>
  <script src="assets-landing/js/itdb.js"></script>










</body></html>
