---
layout: default
title: Institute for Biblical Content
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Institute for Biblical Content</h1>
				<p class="editable">A Bible society adhering to Open Access ideals</p>
				<div class="button">
					<a href="#zmesciva">Explore now</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/sheep.jpg" alt="Public">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">What we do?</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Propagating existing content</h3>
			<p class="editable">We replicate and host several Open Access Bible translations in different languages.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Producing new content</h3>
			<p class="editable">We produce Bible translations into several selected languages and release these into the Public Domain. We engage professional linguists and translators specializing in Hebrew, Aramaic and Greek.</p>		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Developing collateral content</h3>
			<p class="editable">We aggregate and maintain repositories of ancient Christian and Judeo-Christians texts, always in Open Access.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/sheep2.jpg" alt="Sheep">
		</div>
		<div>
			<h2 class="editable">Our motivation</h2>

			<p class="editable">In the 21<sup>st</sup> century, the only truly Open content is that which is easily discoverable (that is, well web-indexed) and readily propagated (that is, easily reproducible). The intitative for Open Access to Research Content provides for better visibility of scientific and educational knowledge through simple and robust web and paper publishing and populazation models.</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">I have always militated for the Bible and educational content accessible in national languages. "So that every ordinary person and a citizen, through reading or listening, could understand what is needed for his spiritual fulfillment."</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/franak.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Francysk Skaryna, PhD, Bible translator, first Belarusian—Russian—Ukrainian bookprinter</strong></span>
			</p>
		</div>
	</blockquote>
</div>


<div class="container">
	<div class="columns">
		<div>
			<h2 class="editable">Our implantation/h2>

			<p class="editable">The Institute for Biblical Content is an international consortium of specialists in ancient and modern linguistics, religious studies, archeology and textual criticism. Originally refered to as « Summer Institute of Biblical Studies », the Institute has been held as a scientific summer school since the mid 1990s in different locations around the world. The formalization as a stable entity took place in 2003 and the Open Access orientation has been articulated since 2012.</p>
			<p class="editable">Our activities span worldwide and we engage specialists affiliated with scientific institutions	in France, Iran, Australia, Tajikistan, Belarus, Indonesia. The Institute is headquartered in Paris (France).</p>
			<p class="editable">The content produced within the scope of our activities is multilingual in nature. Content referents of individual projects and conditions of use are indicated on the pages of the respective projects.</p>
		</div>
	</div>
</div>







<div class="darker" id="zmesciva">
	<div class="container">
		<h2 class="editable">Our assets</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: "%d" }} {% assign m = post.date | date: "%B" %} {{ site.monthsbel[m] }} {{ post.date | date: "%Y" }}</p>
						<h3><a href="https://{{ post.link }}.dyskurs.be" target="_blank">{{ post.title }}</a></h3>
						<h4>{{ post.link }}.dyskurs.be</h4>

						{{ post.content }}
						
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
