<footer role="contentinfo" class="container-fluid sec-variant-midblue level-5">
          <div class="region region-floor">
    <div id="block-nodeblock-floor" class="block block-nodeblock container-fluid sec-variant-midgrey seethru level-4">
  <div class="content">
        
<div id="node-21" class="node node-snippet clearfix" about="" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="Floor" class="rdf-meta element-hidden"></span>
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div>
            <div class="container">
            <div class="row top-gutter-20">
            <div class="col-sm-12 text-center"><img alt="The Executive Office of the President Seal" src="assets-landing/img/seal-footer.png"><br>
            Executive Office of the President<br>
            Office of Management and Budget</div>
            </div>

            <div class="row ">
            <div class="col-sm-12 text-center small">
            <p>This site is an official website of the United States Government.</p>
            </div>
            </div>

            <div class="row top-gutter-20">
            <div class="col-sm-12 text-center">
            <ul class="list-inline"><li><a href="https://www.data.gov/">Data.gov</a></li>
            <li><a href="https://www.whitehouse.gov/">WhiteHouse.gov</a></li>
            <li><a href="https://www.usa.gov/">USA.gov</a></li>
            <li><a href="https://www.performance.gov/">Performance.gov</a></li>
            <li><a href="https://pulse.cio.gov">Pulse.CIO.gov</a></li>
            <li><a href="http://labs.data.gov/dashboard/offices">Open Data Dashboard</a></li>
            <li><a href="https://fedv6-deployment.antd.nist.gov/cfo.html">IPv6 &amp; DNSSEC Deployment Status</a></li>
            </ul></div>
            </div>
            </div>
            </div></div></div></div>  </div>

  
  
</div>
  </div>
</div>
  </div>
<nav role="navigation" class="navbar navbar-quartz">
        <div class="container"><!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header text-center">
                <button aria-expanded="false" class="navbar-toggle collapsed w500" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span> MENU <span class="fa fa-caret-down"></span>
                </button>
                <a class="navbar-brand trend_sans_oneregular" href="#">Institute for Biblical Content<span style="font-size:10px;"></span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-right">
                <li class="expanded dropdown"><a href="#actions" data-toggle="collapse" aria-expanded="true">Actions <span class="caret"></span></a></li>
<li class="expanded dropdown"><a href="#entity" data-target="#entity" data-toggle="dropdown">Entity <span class="caret"></span></a></li>
<li class="last expanded dropdown"><a href="#assets" data-target="#assets" data-toggle="dropdown">Assets <span class="caret"></span></a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a data-toggle="modal" href="#feedback-form">Feedback</a></li>
                                            <li><a href="">Login <i class="fa fa-sign-in"></i></a></li>
                                    </ul>
            </div>
        <!-- /.navbar-collapse --></div>
    </nav>
    </footer>
