<footer role="contentinfo" class="container-fluid sec-variant-midblue level-5">
<nav role="navigation" class="navbar navbar-quartz">
        <div class="container">

<!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header text-center"> <!--style="position:relative;bottom:0;"-->
                <button aria-expanded="false" class="navbar-toggle collapsed w500" data-target="#bs-example-navbar-collapse-2" data-toggle="collapse" type="button" href="#navbar2">
                    <span class="sr-only">Toggle navigation</span> MENU <span class="fa fa-caret-down"></span>
                </button>
                <a id="navbar2" class="navbar-brand trend_sans_oneregular" href="#"><span style="font-size:10px;">Institute for Biblical Content</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
<script>
function toggle2(){var x = document.getElementById('bs-example-navbar-collapse-2'); x.className = 'collapse navbar-collapse'};
</script>
<!--<span class="caret"></span>-->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-right">
<li class="expanded dropdown"><a href="#actions" onclick="toggle2()" aria-expanded="true">Actions</a></li>
<li class="expanded dropdown"><a href="#entity" onclick="toggle2()" data-target="#entity">Entity </a></li>
<li class="last expanded dropdown"><a href="#assets" onclick="toggle2()" data-target="#assets">Assets</a></li>

                                    </ul>
            </div>
        <!-- /.navbar-collapse -->



</div>
    </nav>
    </footer>
