<nav role="navigation" class="navbar navbar-quartz">
        <div class="container"><!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header text-center">
                <button aria-expanded="false" class="navbar-toggle collapsed w500" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span> MENU <span class="fa fa-caret-down"></span>
                </button>
                <a class="navbar-brand trend_sans_oneregular" href="drupal">IBC·<span class="element-invisible">&nbsp;</span>OARC<span style="font-size:10px;">.science</span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="expanded dropdown"><a href="drupal/summary" data-toggle="collapse" aria-expanded="true">Agencies <span class="caret"></span></a></li>
<li class="expanded dropdown"><a href="drupal/reports" data-target="#" data-toggle="dropdown">Reports <span class="caret"></span></a><ul class="dropdown-menu"><li class="first leaf"><a href="drupal/cost-savings">Cost Savings</a></li>
<li class="leaf"><a href="drupal/data-center-statistics" title="Data Center Statistics">Data Center Statistics</a></li>
<li class="leaf"><a href="drupal/sites/itdb/files/CGA072319.xlsx" title="Connected Government Act">Connected Government Act</a></li>
<li class="leaf"><a href="drupal/reports/business-case-pdfs">Business Case PDFs</a></li>
<li class="last leaf"><a href="drupal/e-gov-act-reports">E-Gov Act Reports</a></li>
</ul></li>
<li class="last expanded dropdown"><a href="drupal/data" data-target="#" data-toggle="dropdown">Data <span class="caret"></span></a><ul class="dropdown-menu"><li class="first expanded"><a href="drupal/data/datafeeds">Feeds</a><ul class="menu"><li class="first leaf"><a href="drupal/data/datafeeds/csv">CSV</a></li>
<li class="leaf"><a href="drupal/data/datafeeds/xml">XML</a></li>
<li class="last leaf"><a href="drupal/data/datafeeds/json">JSON</a></li>
</ul></li>
<li class="leaf"><a href="drupal/data/learn_what">What's This Site and Data About?</a></li>
<li class="leaf"><a href="drupal/data/learn_who">Who Uses This Data?</a></li>
<li class="last leaf"><a href="drupal/archived-data">Archived Data -2013 to 2018</a></li>
</ul></li>
                    <li><a href="drupal/frequently-asked-questions">FAQs</a></li>
                    <li><a data-toggle="modal" href="#feedback-form">Feedback</a></li>
                                            <li><a href="drupal/cas?destination=node">Login <i class="fa fa-sign-in"></i></a></li>
                                    </ul>
            </div>
        <!-- /.navbar-collapse --></div>
        <div class="container-fluid level-3">
            <div class="container">
                <div class="row collapse" id="nav-agencies">
                    <div class="col-sm-12">
                        <div class="row top-gutter-20">
                            <div class="col-sm-offset-1 col-sm-10 text-left">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul>
                                            <li><a href="drupal/summary/005">Agriculture</a></li>
                                            <li><a href="drupal/summary/006">Commerce</a></li>
                                            <li><a href="drupal/summary/007">Defense</a></li>
                                            <li><a href="drupal/summary/018">Education</a></li>
                                            <li><a href="drupal/summary/019">Energy</a></li>
                                            <li><a href="drupal/summary/009">Health and Human Services</a></li>
                                            <li><a href="drupal/summary/024">Homeland Security</a></li>
                                            <li><a href="drupal/summary/025">Housing and Urban Development</a></li>
                                            <li><a href="drupal/summary/010">Interior</a></li>							
                                        </ul>
                                    </div><!-- close col-sm-4 -->
                                    <div class="col-sm-4">
                                        <ul>
                                            <li><a href="drupal/summary/011">Justice</a></li>
                                            <li><a href="drupal/summary/012">Labor</a></li>
                                            <li><a href="drupal/summary/014">State</a></li>
                                            <li><a href="drupal/summary/021">Transportation</a></li>
                                            <li><a href="drupal/summary/015">Treasury</a></li>
                                            <li><a href="drupal/summary/029">Veterans Affairs</a></li>
                                            <li><a href="drupal/summary/184">USAID</a></li>
                                            <li><a href="drupal/summary/202">U.S. Army Corps of Engineers</a></li>
                                            <li><a href="drupal/summary/020">Environmental Protection Agency</a></li>					
                                        </ul>
                                    </div><!-- close col-sm-4 -->
                                    <div class="col-sm-4">
                                        <ul>
                                            <li><a href="drupal/summary/023">General Services Administration</a></li>
                                            <li><a href="drupal/summary/026">NASA</a></li>
                                            <li><a href="drupal/summary/393">National Archives and Records</a></li>
                                            <li><a href="drupal/summary/422">National Science Foundation</a></li>
                                            <li><a href="drupal/summary/429">Nuclear Regulatory Commission</a></li>
                                            <li><a href="drupal/summary/027">Office of Personnel Management</a></li>
                                            <li><a href="drupal/summary/028">Small Business Administration</a></li>
                                            <li><a href="drupal/summary/016">Social Security Administration</a></li>							
                                        </ul>
                                    </div><!-- close col-sm-4 -->
                                </div><!-- close row -->
                                <div class="row"><div class="col-sm-12 h4 w500 text-center"><a href="drupal/summary/000">See government-wide view</a></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </nav>
