/*
  C3 Visualizations — Global
*/
.c3 line,
.c3 path {
  stroke: #ccc;
}

.c3 svg {
  fill: #606060;
  font-family: inherit;
  font-size: 14px;
}

.c3-area {
  opacity: 0.8 !important;
}

.c3-viz {
  position: relative;
}

@media (min-width: 600px) and (max-width: 899px) {
  .c3-axis-x text {
    transform: rotate(0) translate(26px, 0);
  }

  .c3-axis-x .tick:nth-last-child(n+7) text,
  .c3-axis-x .tick:nth-last-child(n+7) ~ .tick text {
    transform: rotate(-45deg);
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .c3-axis-x text {
    transform: rotate(0) translate(26px, 0);
  }

  .c3-axis-x .tick:nth-last-child(n+10) text,
  .c3-axis-x .tick:nth-last-child(n+10) ~ .tick text {
    transform: rotate(-45deg);
  }
}

@media (min-width: 1200px) {
  .c3-axis-x text {
    transform: rotate(0) translate(26px, 0);
  }

  .c3-axis-x .tick:nth-last-child(n+13) text,
  .c3-axis-x .tick:nth-last-child(n+13) ~ .tick text {
    transform: rotate(-45deg);
  }
}

#container-dataCenterClosureProgressCombined .c3-axis-x text{
    transform: rotate(0);
}

.c3-bar {
  stroke: #fff !important;
  stroke-width: 1 !important;
}

.c3-chart-texts text {
  fill: #000 !important;
  font-weight: 600;
}

.c3-data-table {
  height: 1px;
  left: -9999em;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.c3-xgrid,
.c3-ygrid {
  stroke-dasharray: 0;
}

.c3-xgrid-focus line {
  display: none;
}

/*
  C3 Visualizations — Legends
*/
.c3-legend-custom {
  margin: 0 0 1em;
  padding: 0;
  text-align: center;
}

.c3-legend-custom li {
  display: inline-block;
  margin: 0 0.75em;
}

.c3-legend-custom li span {
  border-radius: 5px;
  display: inline-block;
  height: 10px;
  margin-right: 0.5em;
  width: 10px;
}

.c3-legend-dcoi {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  font-size: .9em;
  margin: 1em 2em;
  padding: 0.5em 1em;
  text-align: left;
}

@media (min-width: 600px) {
  .c3-legend-dcoi {
    left: 110px;
    margin: 0;
    position: absolute;
    top: 35px;
  }
}

/*
  C3 Visualizations — Tweaks for charts on dark backgrounds
*/
.c3-viz-on-dark .c3 svg {
  fill: #ccc;
}

.c3-viz-on-dark .c3 line,
.c3-viz-on-dark .c3 path {
  stroke: #ccc;
}

.c3-viz-on-dark .c3-legend-item:active text,
.c3-viz-on-dark .c3-legend-item:focus text,
.c3-viz-on-dark .c3-legend-item:hover text {
  fill: #fff;
}

/*
  C3 Visualizations — Tooltips
*/
.c3-tooltip {
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
  color: #333;
  line-height: 1.3;
  opacity: 1;
}

.c3-tooltip tbody {
  border: 0;
}

.c3-tooltip td {
  border: 0;
  padding: 5px 10px;
}

.c3-tooltip .name {
  text-align: left;
}

.c3-tooltip .note {
  font-style: italic;
  padding: 15px 25px !important;
}

.c3-tooltip .value {
  font-weight: 600;
}

.c3-tooltip .value:only-child {
  text-align: center;
}

.c3-tooltip th {
  background-color: #fff;
  border: 0;
  color: #333;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
}

.c3-tooltip thead tr + tr th {
  font-weight: 300;
  padding-bottom: 10px;
}

.c3-tooltip tr {
  border: 0;
}

.c3-tooltip td > span {
  border-radius: 5px;
}

.c3-tooltip .total td > span {
  border-style: solid;
  border-width: 5px;
}

.c3-tooltip-container {
  background-image: none !important;
}

/*
  C3 Visualizations — Loaders
*/
.c3-viz > div:first-child:not(.c3) {
  background-image: url('../img/loader.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.c3-viz-on-dark > div:first-child:not(.c3) {
  background-image: url('../img/loader-on-dark.svg');
}

.c3-viz-area > div:first-child:not(.c3) {
  height: 325px;
}

.c3-viz-bar > div:first-child:not(.c3) {
  height: 275px;
}

.c3-viz-bar-grouped > div:first-child:not(.c3) {
  height: 500px;
}

.c3-viz-bar-stacked > div:first-child:not(.c3) {
  height: 400px;
}

.c3-viz-donut > div:first-child:not(.c3) {
  height: 425px;
}

.c3-viz-donut-small > div:first-child:not(.c3) {
  height: 225px;
}

.c3-viz-arc > div:first-child:not(.c3) {
  height: 100px;
}

.c3-viz-arc-small > div:first-child:not(.c3) {
  height: 35px;
}

/*
  C3 Visualizations — Area Charts
*/
.c3-viz-area .c3-event-rect:active,
.c3-viz-area .c3-event-rect:focus,
.c3-viz-area .c3-event-rect:hover {
  fill: rgba(124, 181, 236, 0.2);
  fill-opacity: 1;
}

/*
  C3 Visualizations — Bar Charts
*/
.c3-viz-bar .c3-event-rect:active,
.c3-viz-bar .c3-event-rect:focus,
.c3-viz-bar .c3-event-rect:hover {
  fill: rgba(124, 181, 236, 0.2);
  fill-opacity: 1;
}

.c3-viz-bar .c3-bar {
  fill-opacity: 1 !important;
}

.c3-viz-bar .c3-tooltip td {
  padding-top: 0;
}

/*
  C3 Visualizations — Stacked Bar Charts
*/
.c3-viz-bar-stacked .value {
  font-weight: 300;
  padding-left: 26px;
  text-align: left !important;
}

@media (max-width: 599px) {
  .c3-viz-bar-stacked .c3-chart-texts text {
    font-size: 11px;
  }
}

/*
  C3 Visualizations — Donut Charts
*/
.c3-viz-donut .c3-arc {
  stroke-width: 0 !important;
}

.c3-viz-donut .c3-chart-arc.c3-target-yellow text {
  fill: #333 !important;
}

.c3-viz-donut .c3-chart-arc text {
  font-size: 20px;
  font-weight: 600;
}

.c3-viz-donut .value {
  font-weight: 300;
  padding-left: 26px;
  text-align: left !important;
}

/*
  C3 Visualizations — Visualization-Specific Tweaks
*/
#c3-total-spending .c3-axis-x-label {
  font-weight: 600;
  transform: translate(0, 25px);
}

#c3-total-spending .c3-axis-y-label {
  font-weight: 600;
}

#c3-cost-savings-combined .c3-areas-Agency-Goal,
#c3-cost-savings-combined .c3-lines-Agency-Goal,
#c3-cost-savings-combined .c3-areas-OMB-Policy-Target,
#c3-cost-savings-combined .c3-lines-OMB-Policy-Target,
#c3-cost-savings-dcoi .c3-areas-Agency-Goal,
#c3-cost-savings-dcoi .c3-lines-Agency-Goal,
#c3-cost-savings-dcoi .c3-areas-OMB-Policy-Target,
#c3-cost-savings-dcoi .c3-lines-OMB-Policy-Target,
#c3-cost-savings-other .c3-areas-Agency-Goal,
#c3-cost-savings-other .c3-lines-Agency-Goal,
#c3-cost-savings-other .c3-areas-OMB-Policy-Target,
#c3-cost-savings-other .c3-lines-OMB-Policy-Target {
  display: none;
}

.grid-dcoi line {
  stroke: #993131;
}

.grid-dcoi text {
  fill: #993131;
}

.grid-agency line {
  stroke: #518245;
}

.grid-agency text {
  fill: #518245;
}

.grid-both line {
  stroke: #424242;
}

.grid-both text {
  fill: #424242;
}

/*
 DataTables FixedHeader
*/

table.fixedHeader-floating {
  position: fixed;
  background-color: white;
}

table.fixedHeader-floating.no-footer {
}

table.fixedHeader-floating th {
    font-size: 14.4px !important;
}

table.fixedHeader-locked {
  position: absolute;
  background-color: white;
}

table.fixedHeader-locked {
  position: absolute;
  background-color: white;
}

/*
  Table — SDLC Methodology Highlights
*/
.sdlc-loader {
  background-image: url('../img/loader.svg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 246px;
}

.sdlc-highlights-table th,
.sdlc-highlights-table td {
  vertical-align: middle !important;
}

.sdlc-highlights-table td {
  text-align: center;
}

.sdlc-highlights-table td::before {
  display: none;
}

@media screen and (max-width: 600px) {
  .sdlc-highlights-table table,
  .sdlc-highlights-table tr,
  .sdlc-highlights-table th,
  .sdlc-highlights-table td {
      display: block;
  }

  .sdlc-highlights-table thead {
    display: none;
  }

  .sdlc-highlights-table tbody th {
    background-color: #424242;
    color: white;
    font-size: 18px;
    width: 100%;
  }

  .sdlc-highlights-table td::before {
    display: inline;
    font-weight: bold;
  }

  .sdlc-highlights-table td,
  .sdlc-highlights-table th {
    border-width: 0 !important;
  }

  .sdlc-highlights-table td {
    display: grid;
    grid-template-columns: 15em auto;
    grid-gap: 1em 0.5em;
    text-align: left;
  }
}

/*
 *  Cost Savings Fix
*/

#cost-savings-table-widget .dash-left, #cost-savings-table-widget .dash-left .col-sm-12 {
    padding-left: 15px;
    padding-right: 15px;
}
